doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      div.header
        div.title= title
        div.success= success
        div.error= error
      div.left
        block left
      div.right
        block right
