extends left

block right
    form(method="post").login
        p
            span= "用户名："
            input(type="text" name="name")
        p
            span= "密码："
            input(type="password" name="password")
        input(type="submit" value="提交")