extends left

block right
    h1= file
    form(method="post" enctype="multipart/form-data").upload
        input(type="file" name="photos")
        input(type="file" name="photos")
        input(type="file" name="photos")
        input(type="file" name="photos")
        input(type="submit" value="上传")